# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
*.sql
frontend/.env
backend/logs
backend/uploads
backend/venv
backend/.venv
backend/.env
secrets/.*
backend_logs/*
backend_logs

.env

__pycache__

!DATABASEv4b1.sql
!DATABASEv4b2.sql
!DATABASEv4b3.sql

