APP_ENV=development
LOG_MODE=HIGH # NONE | LOW | HIGH

# Security
SECRET_KEY=dev_secret_key
JWT_SECRET_KEY=dev_jwt_secret

# Database Credentials
MYSQL_HOST=localhost
MYSQL_USER=claimed
MYSQL_PASSWORD=
MYSQL_DB=claimed

# Email services
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=abcd efgh ijkl

# Default admin credentials
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=admin_password
