.remove-arrow-select-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    padding-right: 0.75rem !important;

}

.cursor-pointer {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}


.bordered * {
    border: 1px solid rgb(63, 63, 63);
}

.navbar-frosted {
    background-color: rgba(var(--bs-primary-rgb), 0.35) !important;
    backdrop-filter: blur(16px);
    transition: background-color 0.3s ease, border-color 0.3s ease;

    [data-bs-theme="dark"] & {
        background-color: rgba(var(--bs-primary-rgb), 0.15) !important;
    }
}

.stacked-modal-backdrop {
    z-index: 1250 !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.invinsible-border {
    border: 1px solid rgba(0, 0, 0, 0);
}