$brand-primary: #006633;
$brand-secondary: #ccba1a;
$brand-primary-light: #33996b; // Lighter variant of primary

$primary: $brand-primary;
$secondary: $brand-secondary;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Custom gradient background class
.bg-gradient-primary {
    background: linear-gradient(to bottom right, #f1f1f1, #dddddd);
}


.bg-gradient-maintenance {
    background: linear-gradient(to bottom right, #CEF4FD, #b1dde7);
}

.bg-gradient-primary-hovered {
    background: linear-gradient(to bottom right, $brand-primary-light, $brand-primary);
}

// Dark mode variants
[data-bs-theme="dark"] {
    .bg-gradient-primary {
        background: linear-gradient(to bottom right, #1a1a1a, #212529);
    }

    .bg-gradient-maintenance {
        background: linear-gradient(to bottom right, #022930, #033a44);
    }

    .bg-gradient-primary-hovered {
        background: linear-gradient(to bottom right, $brand-primary, darken($brand-primary, 10%));
    }
}